div.genuineLayer{
	z-index: 2; 
	display: inline;
	position: absolute; 
	width: 455px; 
	visibility: hidden; 
	background-color: #ffffff; 
	color: #000000; 
	border: solid 1px #000000;
	padding: 5px 5px 5px 5px;
	font-family: Tahoma; 
	font-size: 11px; 
	font-weight: normal;
	text-align:left;
}